.containerHomeAndAuth {
    display: flex;
    place-items: center;
    justify-content: center;
}

.containerAuth {
    padding: 30px;
    background-color: white;
    width: 532px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    border-radius: 20px;
}

.logoLink {
    height: 35px;
    align-self: flex-start;
}

/* login  i reg */
.optionLogReg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.loginLink {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    width: 50%;
    text-align: center;
}

.regLink {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    width: 50%;
    text-align: center;
}

.loginLink.active, .regLink.active{
    color:black;
    border-bottom:3px solid #7636BB;
}


.authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    position: relative;
}

.authForm>label {
    font-size: 1rem;
    font-weight: bold;
    align-self: flex-start;
}

.authForm>input {
    width: 100%;
    height: 45px;
    border-radius: 15px;
    border: black 1.5px solid;
    padding: 10px;
    font-size: 1rem;
    background-color: white;
    color: black;
    ;
}

.authForm>a {
    align-self: flex-end;
    text-decoration: none;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 22px;
}

/* forgot password */

.containerForgot {
    padding: 30px;
    background-color: white;
    width: 532px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    border-radius: 20px;
}

.forgotpassInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: black 2px solid; */
    /* position: relative; */
}

.forgotpassInfo>h3 {
    font-size: 1.5rem;
    height: 15px;
    /* border: black 2px solid; */
    /* position: absolute; */
}

.forgotpassInfo>p {
    font-size: 0.8rem;
    height: 15px;
    /* border: black 2px solid; */
    /* position: absolute; */
    /* top: 30px; */
}

.formForgotpass {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.formForgotpass>label {
    font-size: 1rem;
    font-weight: bold;
    align-self: flex-start;
}

.formForgotpass>input {
    width: 100%;
    height: 45px;
    border-radius: 15px;
    border: black 1.5px solid;
    padding: 10px;
    font-size: 1rem;
    background-color: white;
    color: black;
    ;
}

.buttonsForgotpass {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
}

.buttonsForgotpass>a {
    height: 20px;
    width: 150px;
}

.cancel {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    color: white
}

.submit {
    background-color: #7636BB !important;
    color: white;
    border-radius: 15px;
}

 /* onboarding */
.onboardingContainer {
    padding: 30px;
    background-color: white;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: black;
    border-radius: 20px;
}

.onboardingContainer > img {
    align-self: flex-start;
}

.onboardingContainer > form > p {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding:15px;
    width:100%;
    border-bottom: 2px solid #7636BB;
}

.onboardingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 10px;
    position: relative;
}

.radioOptions {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 30px 0 30px 0;
}

.radioOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.radioOption > input[type="radio"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background:transparent;
    transition: transform 0.3s;
}

.radioOption > input[type="radio"]:hover {
    transform: scale(1.2);
}

.radioOption > input[type="radio"]:checked {
    accent-color: #7636BB;
}

.radioOption > label {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.onboardingButton {
    background-color: #7636BB;
    color: white
}

