
.containerHomeAndAuth {
    position: relative;
    display: flex;
    place-items: center;
    justify-content: center;
    background-image: url("./assets/pozadina_home.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.containerHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.gumbi_za_auth {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.reg-button {
    color: #7636BB;
}