
.containerHomeAndAuth {
    background-image: url("./assets/pozadina_home.png");
    background-size: 100%;
}

.containerHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.gumbi_za_auth {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.reg-button {
    color: #7636BB;
}