/* profil main */
.title{/* align-self: flex-end; */
    text-decoration: none;
    color: #7f1596;
    text-shadow: 0 0 10px #7f1596;
    /* bottom: 22px; */
    font-size: 1.3rem;
    font-weight: bold;
}
.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.containerProfile {
    padding: 30px;
    background-color: white;
    width: 532px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    border-radius: 20px;
}

.containerList {
    display: grid;
    grid-template-columns: 125px auto;
}

.userInput {
    font-weight: bold;
}

.fp {
    align-self: flex-end;
    text-decoration: none;
    color: #e5b4e9;
    text-shadow: 0 0 3px #f8c9d3;
    bottom: 22px;
}

/* anketa rezultati */
.res{
    font-size: 2rem;
    font-weight: 700;
}

.question{
    font-size: 1.25rem;
}

.answer{
    font-size: 1.15rem;
}

.containerAnketa{
    padding: 30px;
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    border-radius: 20px;
}

.containerListQ{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.containerQuestions{
    display: grid;
    grid-template-columns: 50% 50%;
}
.odgovori{
    display: flex;
    gap: 1rem;
}

/* uredi profil */

.setFrom > div {
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.setFrom > div > label {
    font-size: 1rem;
    font-weight: bold;
    align-self: flex-start;
}

.setFrom > div > input {
    width: 100%;
    height: 45px;
    border-radius: 15px;
    border: black 1.5px solid;
    padding: 10px;
    font-size: 1rem;
    background-color: white;
    color: black;
    margin-bottom: 1rem; /* External spacing */
}

.setFrom > a {
    align-self: flex-end;
    text-decoration: none;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 22px;
    margin-bottom: 1rem; /* External spacing */
}

/* samo reg */
.genderOptions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    margin-bottom: 1rem; /* External spacing */
}

.genderOptions > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.genderOptions > div > input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}
    
.genderOptions > div >input[type="radio"]:hover {
    transform: scale(1.2);
}
    
.genderOptions > div > input[type="radio"]:checked {
    accent-color: #7636BB;
}

.submit {
    background-color: #7636BB !important;
    color: white;
    border-radius: 15px;
    
}