/* profil main */
.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.containerProfile {
    padding: 30px;
    background-color: white;
    width: 532px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    border-radius: 20px;
}

.containerList {
    display: grid;
    grid-template-columns: 125px auto;
}

.userInput {
    font-weight: bold;
}

.fp {
    align-self: flex-end;
    text-decoration: none;
    color: #e5b4e9;
    text-shadow: 0 0 3px #f8c9d3;
    bottom: 22px;
}

/* anketa rezultati */
.res{
    font-size: 2rem;
    font-weight: 700;
}

.question{
    font-size: 1.25rem;
}

.answer{
    font-size: 1.15rem;
}

.containerAnketa{
    padding: 30px;
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    border-radius: 20px;
}

.containerListQ{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.containerQuestions{
    display: grid;
    grid-template-columns: 50% 50%;
}
.odgovori{
    display: flex;
    gap: 1rem;
}