.header {
    background-color: white;
    width: 100%;
    height: 100px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.middleIcons {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-self: center;
}

.homeIcon.active {
    fill: #7636BB;
    border-bottom: 2px solid #7636BB;
}

.active > .homeIcon {
    fill: #7636BB;
}

.homeIcon.active header {
    color: #7636BB;
}

.contentIcon.active {
    color: #E5B4E9;
    border-bottom: 2px solid #E5B4E9;
}

.statsIcon.active {
    color: #BD00D4;
    border-bottom: 2px solid #BD00D4;
}

.calendarIcon.active {
    color: #957CFE;
    border-bottom: 2px solid #957CFE;
}

.profileIcon.active {
    color: #7636BB;
    border-bottom: 2px solid #7636BB;
}

.rightIcons {
    display: flex;
    flex-direction: row;
    gap: 40px;
}